.kpi-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.kpi-card {
  flex: 1;
  min-width: 100%;
  margin-bottom: 20px;
}

.device-card {
  background: #020f1f;
  position: relative;
  z-index: 5;
  transition: all;
  animation-duration: 300s;
  border-radius: 10px;
  padding: 20px;
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  cursor: pointer;
  overflow: hidden;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.border-effect-blue:hover::after,
.border-effect-blue:hover::before,
.border-effect:hover::after,
.border-effect:hover::before,
.border-effect-grey:hover::after,
.border-effect-grey:hover::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(
    from var(--angle),
    transparent,
    #2fc5ebf7,
    transparent 50%,
    #2fc5ebf7
  );
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 4;
  padding: 3px;
  border-radius: 10px;
  animation: 3s spin linear infinite;
}

.border-effect:hover::after,
.border-effect:hover::before {
  background-image: conic-gradient(
    from var(--angle),
    transparent,
    #2fc5ebf7,
    transparent 50%,
    #6eec85
  );
}

.border-effect-grey:hover::after,
.border-effect-grey:hover::before {
  background-image: conic-gradient(
    from var(--angle),
    transparent,
    #f4f5f6f7,
    transparent 50%,
    #b8f3f3
  );
  z-index: -1;
}

.border-effect::before,
.border-effect-grey:hover::before,
.border-effect-blue:hover::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.key-value-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 1px solid #07f0ff;
  padding-bottom: 8px;
}

.key-label {
  color: #6b7280;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 500;
  margin-right: 16px;
  margin-left: 15px;
  word-wrap: break-word;
  max-width: 40%;
}

.value-text {
  color: #111827;
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.value-item {
  color: #111827;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  padding-left: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Medium screens (tablets) */
@media (min-width: 640px) {
  .kpi-card {
    min-width: calc(50% - 20px);
    max-width: calc(50% - 20px);
  }
}

/* Large screens (desktops) */
@media (min-width: 1024px) {
  .kpi-card {
    min-width: calc(33.333% - 20px);
    max-width: calc(33.333% - 20px);
  }
}
